h1
{
text-align: center;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}
h2
{
text-align: center;
font-family:Arial, "Verdana", Helvetica, sans-serif;
}
a
{
text-decoration:none;

border-color: 2px solid;
border-top:2px solid;
border-bottom:2px solid;
border-right:2px solid;
border-left:2px solid;
border-radius:10px 10px 10px;
-o-border-radius:10px 10px 10px;
-webkit-border-radius:10px 10px 10px;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
-moz-border-radius:10px 10px 10px;
background-color: teal;
padding:8px;
width:75px;
height:50px;
text-align:center;
}
a:link {color: white;}      
a:visited {color: whitesmoke;} 
a:hover {color: teal;} 
a:active {color: teal;}
